.container {
    // margin: 0 auto;
    text-align: center;
}
#map {
    height: 100%;
  }
.map {
  padding-top: 2rem;
}


  html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #1A2632;
    overflow: hidden;
    h1 {
      color: white
    }
  }

  ul, li, p {
    margin: 0;
    padding: 0;
  }

  h4 {
    color: black;
    font-size: 1rem;
    font-weight: 400;
  }

  .banklist {
    position: relative;
    height: 30rem;
    overflow-y: scroll;
  width: 20%;

  background: #ededed;
  padding: .3rem;
  border-radius: 5px;

float: right;
}
.infos {
  display: flex;
}

.li-banklist {
  background: #dbd4d4;
  padding: .5rem;
  text-align: left;
  margin: 0 0 2rem 0;
  border-radius: 5px;
  list-style: none;

  img {
    margin-right: .5rem;
  }
}

.street {
  font-style: italic;
  font-size: .7rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.buttons {
  text-align: right;
button {
  cursor: pointer;
  border: none;
  color: rgb(255, 145, 0);
  background-color: rgba(255, 255, 255, 0.561);
  border-radius: .4rem;
  margin: .2rem;
  padding-top: .1rem;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.979);
}
}